html{
	background-color: #FEFCE2;
}
body{
	font-size: 1rem;
}
#menu{
    width:10%;
    height: 100%;
    margin: 0;
    padding: 0;
    position:fixed;
    float:left;
    background:#37F424;
    text-align: center;
}
footer{
	width: 100%;
	background-color: #F46C24;
	color: #fff;
	position: fixed;
	bottom: 0;

}
p{
	display: inline-block;
	margin-left: 15%;
	color: black ;
}
.contact{
	display: inline-block;
	/*text-align: center;*/
	color: black;
}
form{
	text-align: center;
	margin-left: 45%;
	width: 150px;
}
h1{
	margin-left: 15%;
	text-shadow: 2px 2px 2px black, -2px -2px 2px white;

}
.link{
	color:black;
}
.submit{
	margin-top: 2em;
	margin-left: 20%;
}
.img{
	height: 20em;
	width: 30em;
	background-size: cover;
	margin-left: 35%;
}